[sendemail]
	suppresscc = all
	from = haocheng.xie@outlook.com
	smtpserver = smtp.office365.com
	smtpuser = haocheng.xie@outlook.com
	smtpserverport = 587
	smtpencryption = tls

#	from = xiehaocheng127@163.com
#	smtpserver = smtp.163.com
#	smtpuser = xiehaocheng127@163.com
#	smtpserverport = 25

#	from = xiehaocheng127@gmail.com
#	smtpserver = smtp.gmail.com
#	smtpuser = xiehaocheng127@gmail.com
#	smtpserverport = 587
#	smtpencryption = tls
[user]
	name = 谢昊成
	email = xiehaocheng127@163.com
[core]
	editor = vim
[color]
	ui = auto
[http]
	postBuffer = 1073741824
[credential]
	helper = cache --timeout=36000000
[credential "http://review.rnd.meizu.com"]
	username = xiehaocheng
[credential "http://review.rnd.meizu.com/l"]
	username = xiehaocheng
[url "ssh://xiehaocheng@review.rnd.meizu.com:29418/"]
	insteadOf = ssh://review.rnd.meizu.com:29418/
[url "ssh://xiehaocheng@review.rnd.meizu.com:29418"]
	insteadOf = http://review.rnd.meizu.com
[url "ssh://xiehaocheng@review.rnd.meizu.com:29999/"]
	insteadOf = ssh://review.rnd.meizu.com:29999/
[url "ssh://xiehaocheng@review.rnd.meizu.com:29999"]
	insteadOf = http://review.rnd.meizu.com/l
[url "ssh://xiehaocheng@ma.meizu.com:29418"]
	insteadOf = http://ma.meizu.com
[push]
	default = matching
